
.wraper a h1{
  text-decoration: none;
  padding: 12px;
  border-radius: 7px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background: rgb(22, 111, 194);
  width: 6rem;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  margin-bottom: 0.8rem;
  transition: all ease 300ms;
}

.wraper a h1:hover {
  background: rgb(24, 178, 206);
  transform: rotate(-50);
  color: black;
}

.wraper {
  width: 100%;
  max-width: 720px;
  margin-top: 2px;
  display:grid;
  border-radius: 1.3rem;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.596);
  transition: all .4s;
  padding: 25px 30px;
  overflow: auto;
  z-index:1000;
}


.modal:target {
  visibility: visible;
  opacity: 6;
}

.modal-content {
  border-radius: 8px;
  position: relative;
  width: 500px;
  max-width: 700px;
  padding: 25px 30px;
  background: #fff;
  box-shadow: 7px 20px 22px -6px rgba(0,0,0,0.1);
  
}

.modal-content {
    border-radius: 8px;
    position: relative;
    width: 500px;
    max-width: 700px;
    padding: 25px 30px;
    background: #fff;
    box-shadow: 7px 20px 22px -6px rgba(0,0,0,0.1);
    
  }

  .modal-content .title {
    font-size: 50px;
    font-weight: bold;
    position: relative;
  }

  .modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }

  .modal form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    margin: 15px 0 12px ;
    width: calc(100% / 2- 20px);
  }

  form .input-box .dropdown-select {
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
  }

  form .input-box .dropdown-select option {
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }

  form .input-box .dropdown-select option .select {
    padding: 1rem;
    font-size: 1.4rem;

  }

  .user-details .input-box label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{

    border-color: #5e7d9b;
  }
  .user-details .input-box input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input[type="date"] {
    background: rgb(25, 137, 212);
    color: #fff;
    font-family: 'Poppins';
    border-radius: 6px;
    outline: none;
    border: none;
  }

  ::-webkit-calendar-picker-indicator{
    background-color: #fff;
    padding: 5px;
    margin: 2%;
    border-radius: 6px;
    cursor: pointer;
  }

  .modal-edit {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(99, 197, 226, 0.664);
    transition: all .4s;
    padding: 25px 30px;
  }
  

  form .button {
    height: 45px;
    margin: 45px 0;
  }

  form .button input{
    border: 1px solid #0e41d8;
    font-size:16px;
    font-weight: 600;
    font-family:  'Poppins';
    width:124px;
    height:40px;
    text-shadow: 0px 1px 0px #283966;
    background-color:transparent;
    height: 100%;
    width: 100%;
    border-radius:6px;
  }

  form .button input:hover{
    background: #0e41d8;
    cursor: pointer;
    color: #fff;
  }


.dropdown{
  position: relative;
  margin-top: 300px;
  width: 300px;
  height: 50px;
  }

  .dropdown::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    right: 20px;
    top: 15px;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
  }

  .dropdown.active::before {

    top: 25px;
    transform:rotate(-255deg);
  }

  .dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 20px #000;
  }

  .dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px #000;
    border-radius: 10px;
    overflow: hidden;
    display: none;
  }
  .dropdown.active .option{
    display: block;
    
  }

  .dropdown .option div{
    padding: 12px 20px;
    cursor: pointer
  }

  .dropdown .option div:hover {
    background: 
    #62baea;
    color: #fff;
  }

  @media (max-width: 584px) {
    .modal{
        max-width: 100%;
        background-size: cover;
    }

    form .user-details .input-box {
        margin-bottom: 10px;
        margin: 10px 15px 0;
        width: 100%;
    }

    .modal form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 0;
    }

    .wraper {
      margin-top: 0;
    }
  }