* {
    padding: 0;
    margin: 0;
    appearance: none;
    border:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 4px;
    border: 6px solid #ffffff;
  }

html{
    font-size: 12px;
}

:root{
    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --box-shadow: 0 2rem 3rem(rgba(0, 0, 0, 0.685));

}

body{
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    
}



h1 {
    font-size: 2.2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}


h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.86rem;
    font-weight: 500 ;
}

/*==CARDS DO DASHBOARD===*/


main section .middle .headers{
    display: flex;
    align-items: center;
    gap: 1rem;
    display:inline-flex;
}

main section .middle .headers .date{
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    background: #2a3cc4;
    color: #fff;
}

main section .middle .cards{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    
}

main section .middle .cards .card{
    background: rgba(43, 202, 11, 0.822);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: aliceblue;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:0 0.5rem 2rem rgba(0, 0, 0, 0.301);
    transition: all 300ms ease;
}

main section .middle .cards .card:nth-child(1) {
    background: linear-gradient(#7f8191, #27282f);
    border-left: 5px solid #0d0e0d;
}
main section  .middle .cards .card:nth-child(2) {
    background: linear-gradient(#5ea558, #40b428);
    border-left: 5px solid #32f00c;
}

main section .middle .cards .card:nth-child(3) {
    background: linear-gradient(#253086, #2a3cc4);
    border-left: 5px solid #0950e9;
}

main section .middle .cards .card:nth-child(4) {
    background: linear-gradient(#e2ab13c7, #dabc12ce);
    border-left: 5px solid #ffe600;
}

main section .middle .cards .card:nth-child(5) {
    background: linear-gradient(#0fbde9f3, #0864dd);
    border-left: 5px solid #5660f3;
}

main section .middle .cards .card:hover{
    box-shadow:none;
}

main section .middle .card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section .middle .card .top .left{
    display: flex;
    gap: 0.5;
}


main section .middle .card .top .left h2{
    font-weight: 200;
    font-size: 1.4rem;
    margin-left: 2rem;
}

main section .middle .card .top .left img{

    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid white;
    border-radius: var(--border-radius-2);
    padding: 0.4rem;
}

main section .middle .card .top .right {
    width: 3.5rem;
}

main section .middle .card .middle{
    display: flex;
    justify-content: space-between;
}

main section .middle .card .middle .imgs{
    width: 3.5rem;
}

main section .middle .card .bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section .middle .card .bottom .right {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    main{
        grid-template-columns: 1fr;    
        overflow:auto;
    }

    main section .middle .cards{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10%;
        box-shadow:none;
    }
    
}

@media screen and (max-width: 600px) {
    
    main section .middle .cards{
        grid-template-columns: 1fr;
        scroll-margin: 0;
        overflow:auto;
    }
    
    scrool-bar{
        width: 5px;
    }

}


.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.596);
    transition: all .4s;
    padding: 25px 30px;
    overflow-x: auto;
    border-radius: 8px;

  }

  .modal:target {
    visibility: visible;
    opacity: 6;
  }

.modal-content {
    border-radius: 8px;
    position: relative;
    width: 500px;
    max-width: 600px;
    max-height: 600px;
    padding: 25px 30px;
    background: #fff;
    box-shadow: 7px 20px 22px -6px rgba(0,0,0,0.1);
  }

  .modal-content .title {
    font-size: 50px;
    font-weight: bold;
    position: relative;
  }

  .modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }

  table {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 7px 8px 8px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 20px rgba(5, 57, 94, .5);
    -webkit-box-shadow:  0px 4px 20px rgba(5, 57, 94, .5);
    border-radius: 8px;
    text-align: justify;
    white-space: nowrap;
    scroll-bar: 1px;
  }
  table tr{
    font-size: 12px;
    font-weight: 500;
  }
  table th {
    font-weight: 600;
    color:rgb(10, 114, 212);
    letter-spacing: 0.01rem;
    border-spacing: 1px;
    padding-left: 1rem;
    font-size: 14px;
    text-align: justify;
  }


    @media (max-width: 684px) {
        .modal-content{
            overflow: auto;
            width: 100%;
            scroll-behavior: none;
        }

        table {
            scroll-behavior: none;
        }
        

    }