/*GOOGLE FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

ul {
    list-style: none;   
}

a {
    text-decoration: none;
}

body {
    background-color: #f1faffe8;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 1rem;
}

.container{
    max-width: 968px;
    margin: auto;
}

.section {
    padding: 7rem 0 2rem;
}

.section_tittle {
    font-size: 2rem;
    color: #454343;
    text-align: center;
    margin-bottom: 1.5rem;
}


.section_height {
    height: 100vh;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: 0.4s;
    box-shadow: 0 -1px 12px rgba(59, 59, 59, 0.25);
}

nav{
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    color:#454343;
    font-weight: 400;
    font-size: 1.25rem;
}

.nav_name {
    font-weight: 600;
}

.nav_icon{
    font-size: 1.5rem;
}

.nav_list,
.nav_link {
    display: flex;
}

.nav_list{
justify-content: space-around;
column-gap: 3rem;
}

.nav_link{
    flex-direction:column;
    align-items: center;
    color: #454343;
    row-gap: 0.25rem;
}

.nav_link:hover {
color: rgb(25, 87, 182);
}

i.nav_icon{
    display: none;
}

.active_link{
    position: relative;
    color: #5b75ad;
    transition: .3s;
}

@media screen and (min-width : 769px) {

    .active_link::before{
        content: '';
        position: absolute;
        bottom: -.4rem;
        width: 1rem;
        height: 3px;
        background-color: #5b75ad;
        border-radius: 3px;

    }

}

@media screen and (max-width : 992px) {
    .container {
        margin-right: 1rem;
        margin-left:  1rem;
    }
}

@media screen and (max-width : 768px) {
    .nav_menu{ 
        position:fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-items: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
        box-shadow: 0 -1px 12px rgba(59, 59, 59, 0.25);
    }

    .nav {
        height: 3rem;
    }
    i.nav_icon {
        display: block;
    }

    .section_tittle{
        font-size:  1.5rem;
    }
}

@media screen and (max-width : 576px) {

    .nav_list{
        justify-content: center;
        display:flex;
    }
    .nav_name {
        display: none;
    }
}